body{
    background-color:white;
color:azure
}

.form{
    display: flex;
    flex-direction: column;
}
.role-box{
width: 230px;
height: auto;
border:solid 5px rgb(70, 65, 65);
justify-content: space-between;
flex-direction: column;

}
.role-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
}
.role-field{
    max-width: 200px;
}